<!DOCTYPE html>

<head>

  <title>
    Thusitha the BEST Profile

  </title>
  <style>
    body {
      background-color: blue;
      font-size: medium;

    }
  </style>
</head>

<body>

  <%- include ('partials/nav.ejs') -%>





  <h1>Best web page Profile for
    <%=name%>
    <!-- use to write html value/data  -->
  </h1>

  <p>im <%=name%> age is <%= data.age  %>
    im <%=data.sex%> </p>

  <ul>
    <% data.hobbies.forEach(item=>{ %>
    <li><%= item %> </li>

    <%  }); %>
  </ul>


</body>

</html>